[2013-11-13 17:45] miguelgrinberg opened #1 "The UTC dates can be briefly seen in the page before they are replaced with the moment.js rendered timestamp."

[2014-02-12 20:14] miguelgrinberg opened #2 "Import Javascript libs from SSL URLs when appropriate"

[2014-02-13 07:29] #2 closed, assigned to nobody

[2014-03-06 17:56] friedbutter opened #3 "option to load moment.js locally"
rather than loading from //cdnjs.cloudflare.com/ajax/libs/moment.js/%s/moment-with-langs.min.js all the time, is there a flag for loading it locally?

[2014-03-06 18:17] #3 closed, assigned to miguelgrinberg

[2014-03-16 01:20] Scottie313 opened #4 "Need configuration options to load JS locally"
It would be great if there was an option or flag to the `moment-with-langs.min.js` library is loading locally, like @stynr said. For exapmle:
`app.config['MOMENTJS_SERVE_LOCAL'] = True`

Also, when I'm using Flask-Bootstrap I think It is not necessary to load `jquery-<version>.min.js` again.

[2014-03-20 21:57] #4 closed, assigned to nobody

[2014-05-12 16:21] jonblack opened #7 "Factor out loading moment from downloading"
I use bower to manage the dependencies of my project, and don't want to use the CDN version.

I can bypass this by not using `moment.include_moment()`, but that means the javascript that does all the work also isn't included.

Is it possible to separate these out into two functions?

[2014-06-20 23:14] tom-d opened #8 "include_moment(version=None) is broken"
Hi,
I'm trying to serve moment-with-langs.min.js locally.
I presume this can be achieved with include_moment(version=None).
It appears to me the code forgets to set js when version is None.
My guess is the intent is...

[code]

[2014-06-21 01:06] #8 closed, assigned to nobody

[2014-07-24 00:27] macfire opened #9 "Suggestion for using local moment.js instead of CDN"
This solution works for me:

flask_moment.py

[code]

Template:

[code]

[2014-07-26 19:43] #9 closed, assigned to nobody

[2014-10-14 23:55] mehmettaskiner opened #10 "AttributeError: 'unicode' object has no attribute 'strftime'"
Hello,

I got registered_at value for members in db. It is string in db. Moment can't replace it.

When i type dump() to console, it shows:
timestamp = u'2014-10-14 23:51:31.297440'
and "AttributeError: 'unicode' object has no attribute 'strftime'

[2014-12-09 03:24] digital-shokunin opened #11 "Javascript errors"
End of Chapter 3 in your book, following directions, something is broken in the javascript. Using version 0.4.0

![screenshot from 2014-12-08 22 14 34](https://cloud.githubusercontent.com/assets/913856/5351738/bd2a8456-7f28-11e4-80b8-ff941a52bbc2.png)

[2014-12-10 02:54] #11 closed, assigned to nobody

[2015-01-21 22:50] victorso opened #12 "It's using an older version of moment.js (2.5.1), with deprecated functions."
Since the usage relies on the documentation provided by http://momentjs.com/docs/, it would be nice to upgrade from 2.5.1 to 2.9.0. Thanks.

[2015-06-01 15:08] ncocacola opened #13 "Add strftime formatting support"
Is there any way you could add support for formatting using the `strtime` format (e.g  `moment.strftime()`), for example by including `benjaminoakes/moment-strftime`?

This is what the [http://momentjs.com/docs/#other-tokens](`moment.js` documentation) suggests.

[2015-06-01 18:00] #10 closed

[2015-06-01 18:03] miguelgrinberg commented on #13
I think I can come up with a mechanism that allows any plugins to be used, so it'll be up to you to include the plugin's js file, but after that, maybe you'll do something like this:

    {{ moment(my_time).plugin('strftime', '%H:%M:%D') }}

Would that work for you?

[2015-06-01 19:26] ncocacola commented on #13
That would be great!

[2015-07-02 02:27] linys1987 commented on #1
how to fix this problem?

[2015-07-02 06:32] miguelgrinberg commented on #1
Well, this is a minor thing, so I haven't spent time looking at it. An idea that might work is to create these elements hidden in the DOM, and only make them visible once they have been initialized by moment.js.

[2015-08-05 23:33] miguelgrinberg commented on #1
Addressed by #16.

[2015-08-05 23:33] #1 closed

[2015-10-18 23:46] andreaswin opened #17 "Moment JS is linked over HTTP when running behind HTTPS proxy"
My Flask application is running behind Gunicorn and Nginx, with nginx terminating the HTTPS connection and talking to Gunicorn via regular HTTP. In this case, using 'include_moment()' (Flask-Moment v0.2.1) in my Flask application ends up with

    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/%s/moment-with-langs.min.js"></script>

where %s is the version (Due to line 14 in flask_mo

[2015-10-18 23:48] andreaswin commented on #17
Nevermind this report, this seems to be already fixed in the latest version.

[2015-10-18 23:48] #17 closed

[2015-11-19 09:44] jeffwidman commented on #12
This can be closed, as it's been fixed for a while: https://github.com/miguelgrinberg/Flask-Moment/blob/master/flask_moment.py#L9

[2015-11-19 15:20] #12 closed

[2015-11-19 15:21] miguelgrinberg opened #21 "This project needs unit tests"
Looks like I never managed to add tests here. :(

[2015-11-19 21:01] miguelgrinberg opened #22 "This project needs documentation"

[2016-10-27 16:49] MrBillium opened #25 "How to customize fromNow output ?"
I am displaying time data was received  using flask Moment.fromNow.  Typically it outputs 'a few seconds ago' but sometimes the sender's clock is a little off and it displays ' in a few seconds' - which makes no sense to the user.
To fix this I want to change ' in a few seconds' to 'current'  but this does not seem easy using Moment customization so I thought I could simply change the output in ji

[2016-10-27 17:54] miguelgrinberg commented on #25
This is a tricky issue to handle. The problem is that the timestamps are generated using the server's clock, but moment renders them using the clock on the client.

The typical solution is for either the client or the server to figure out what is the time difference with the other party, and then adjust the time so that the client always has it relative to its own clock. This could be an interesti

[2016-10-27 19:15] MrBillium commented on #25
I was hoping there was a way to cause Flask Moment to output the final string into another variable
something like    {{ Set moment_textoutput = moment_text.to_string() }}

Then I would have a text variable that I could manipulate

[2016-10-27 20:45] miguelgrinberg commented on #25
Flask-Moment does not generate the formatted date. All Flask-Moment does is generate the right JavaScript to render the date in the client. The time adjustment can be done in the server before rendering the template, but for that you need the client to have passed its current time in advance, so that the server can calculate an estimated time difference. It can also be done in the client if the se

[2017-02-13 08:12] greyli opened #29 "How to use moment in macro?"
I have `{{ moment.include_moment() }}` in `base.html`, but when I use moment in a macro,  I get this error: `UndefinedError: 'moment' is undefined`.

[2017-02-13 15:52] miguelgrinberg commented on #29
Does it work when you use it directly on the template, or does that also fail?

[2017-02-14 00:25] greyli commented on #29
Yes, it worked outside the macro.

[2017-03-10 02:54] wgwz commented on #29
@greyli can you provide a minimal example to reproduce?

[2017-03-10 03:07] greyli commented on #29
By default, imported templates are not passed the current context. I solved this by using `{% from "macro.html" import foo with context %}`.  See doc [here](http://jinja.pocoo.org/docs/dev/templates/#import-context-behavior).

Thanks anyway!

[2017-03-10 03:07] #29 closed

[2017-04-10 04:27] kinganu opened #30 "no seconds or real time update?"
hey was just curious whats the actual point of flask-moment if it cant display seconds and cant update in real time (have to refresh page)?  if it had these features and jquery countdown it could be much more useful.

[2017-04-10 19:01] miguelgrinberg commented on #30
Having a real time clock updating on the page is exclusively a client task. There are many ways to do it, so the client should choose a way that is compatible with the frameworks in use (i.e. Jquery, Angular, etc.)

This extension helps with the rendering of known timestamps (not current time). A typical usage would be to show the time comments were made in a friendly format, such as "2 days ago".

[2017-05-14 20:42] c0derabbit opened #31 "moment(from strptime) is off by 2 hrs"
When I pass a `datetime.strptime(date)` date to moment, it adds 2 hours. I suspect a timezone issue, as it also says I'm UTC+02:00.
`{{ moment(message.sent_at).format('LLL') }}` is rendered as May 15, 2017 **12:10 AM**
while the same `{{ message.sent_at }}` becomes 2017-05-14 **22:10:00**.

Is there a timezone setting I'm missing?

[2017-05-15 15:54] miguelgrinberg commented on #31
@c0derabbit in the `datetime.strptime(date)` expression, how did you set `date`?

[2017-05-16 19:45] c0derabbit commented on #31
@miguelgrinberg it's a `datetime.now()` stringified, and stored in a sqlite3 db, something like this:
[code]

[2017-05-17 00:46] miguelgrinberg commented on #31
When you use `datetime.now()` you get a local time, without timezone information. Depending on the timezone configured on the server, you will get different universal times in this way. You should instead use `datetime.utcnow()`, which will give you uniform time units, regardless of server location.

After you switch to `utcnow()`, all your times stored in the database are going to be in UTC, whic

[2017-05-17 15:07] c0derabbit commented on #31
Right, that makes sense & works too. Thanks!

[2017-05-17 15:07] #31 closed

[2017-05-29 08:52] delitamakanda opened #32 "Mixed Content at Heroku"
Hello,
could i serve these links in https ? thanks

[code]

Mixed Content: The page at 'https://socialiteee.herokuapp.com/' was loaded over HTTPS, but requested an insecure script 'http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.3.1/moment-with-langs.min.js'. This request has been blocked; the content must be served over HTTPS.

[2017-05-29 09:56] delitamakanda commented on #32
sorry for the useless issue I just upgrade my version of flask moment. I

[2017-05-29 09:56] #32 closed

[2017-10-06 17:52] eddwinn opened #34 "new times always say in 4 hours or 4 hours ago"
Hello,
If an item is less than 4 hours old, it will say in 4 hours or 4 hours ago.  After 4 hours it utilizes correct time.

`moment = Moment(app)`
[code]
`timestamp = datetime.now()`
`<td width="10%">{{ moment(timestamp=rate.timestamp, local=True).fromTime(now)  }}`

where now = datetime.now()
I also have tried ..

`moment(timestamp=rate.timestamp, local=False).fromNow(no_suffix = False)`

[2017-10-06 18:41] miguelgrinberg commented on #34
I'm not sure how this extension can cause this problem for you, since it just passes the timestamps that you provide directly into moment.js.

Did you look at the page source? The timestamps all have a `<span>` wrapper that shows the UTC time that was rendered. You may want to check those to see if they match the times that you think you are passing as argument.

[2017-10-11 21:16] eddwinn commented on #34
in my models i hate datetime.utcnow instead of datetime.now

[2017-10-11 21:16] #34 closed

[2017-10-11 21:57] miguelgrinberg commented on #34
@eddwinn You should always use UTC timestamps in your server.

[2018-01-05 11:27] fl0wx opened #35 "Substract and add integration"
Hey is it possible to add the support for using moment().substraction(7, 'days') and add? Like in the official module?

Thanks a lot and kr
flow

[2018-01-08 02:55] niaiai opened #36 "为什么不在moment.include_moment 进行moment.locale("en"); 设置"
[code]

[2018-12-07 09:32] br0cky commented on #35
Another vote for this! Diff would be great as i was hoping to be able to compare dates e.g if date is older than x days...

[2019-01-04 08:52] dmiyakawa opened #38 "MIT or BSD?"
I saw MIT in the `LICENSE` file while BSD in setup.py. Which is correct?
If BSD is the choice, which kind? (e.g. 2-Clause BSD ~= MIT, or maybe 3-BSD)

[2019-01-04 09:04] miguelgrinberg commented on #38
It's MIT. Fixed.

[2019-01-04 09:04] #38 closed

[2019-01-06 06:03] SaulOviedo commented on #36
That should be included.

[2019-01-13 19:49] miguelgrinberg commented on #30
This issue will be automatically closed due to being inactive for more than six months. Please reopen if you need more assistance.

[2019-01-13 19:49] #30 closed

[2019-01-13 23:20] miguelgrinberg commented on #22
The complete documentation is in the README file at this time.

[2019-01-13 23:20] #22 closed

[2019-01-13 23:21] miguelgrinberg commented on #21
Tests are already in place!

[2019-01-13 23:21] #21 closed

[2019-02-16 16:28] miguelgrinberg commented on #7
Fixed in release 0.7.0.

[2019-02-16 16:28] #7 closed

[2019-04-07 09:56] #36 closed

[2019-04-19 09:51] M0r13n opened #40 "Add SRI for better security"
It shouldn't be too complicated to add SRI to ensure that resources hosted on third-party servers have not been tampered with. Or am I missing something?

Greetings

[2019-04-19 14:40] miguelgrinberg commented on #40
Would you like to contribute a PR with this change?

[2019-04-19 18:46] M0r13n commented on #40
I will see what I can do this weekend.

[2019-05-14 21:56] cdruet opened #43 "CSP"
I added Talisman to my Flask project and tried to properly configure TALISMAN_SECURITY_POLICY but I can't figure out how to get Moment scripts accepted.

I got the following message(s): _Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-inline' cdnjs.cloudflare.com maxcdn.bootstrapcdn.com code.jquery.com 'nonce-gOu5h3Vk

[2019-05-14 22:47] miguelgrinberg commented on #43
You can call `moment.include_moment(no_js=True)` and then it is your own responsibility to load moment.js, so you can add the hash.

[2019-05-29 16:13] valentin-ballester opened #44 "Correct way to disable auto-refresh"
My tests show me that taking out the data-refresh attribute with jquery works, are there secondary problems when doing it that way or is is correct?

[2019-05-29 16:32] miguelgrinberg commented on #44
The refresh feature is only activated if you have `data-refresh` in your element. This attribute does not serve any other purpose besides that, so don't use it if you don't want auto refresh.

[2019-06-04 20:40] malan88 commented on #43
@miguelgrinberg I have disabled the CSP for the same reason, but I found that one of the key issues with using nonce and flask-moment is that I cannot specify a nonce per script attribute.

The `moment.include_jquery()` and `moment.include_moment()` problems are easy to solve: adding `cdnjs.cloudflare.com` and `code.jquery.com` to the [allowable `script-src` works perfectly for that](https://githu

[2019-06-04 21:29] miguelgrinberg commented on #43
@malan88 why can't you just copy the JS and include it manually in your page? Don't use the `include_moment()` function if it doesn't do what you want.

[2019-06-05 13:01] malan88 commented on #43
Miguel, I seem to have misunderstood the nature of the code (and what you were saying about it) but can now see another issue at present.

I now realize that `include_moment()` renders *both* the link to the moment.js cdn *and* a snippet of jquery that you yourself wrote. I have successfully copied this snippet and added the nonce and now it renders but there is still further a problem. Specifical

[2019-06-05 13:37] miguelgrinberg commented on #43
@malan88 I think removing eval is going to be harder than you estimate, but as a high level concept I agree that it would be better not to use it, so I would happily accept a PR that does it as long as it does not break existing uses and is relatively simple (i.e. not a complete re-implementation of eval without using eval).

Removing jQuery as a dependency is also fine, I actually wanted to do th

[2019-06-05 13:40] malan88 commented on #43
@miguelgrinberg

You are right that it will be harder than I initially suspected. But I think I can do it all in js without touching the actual python.

I will be working on it today and a buddy who is better at JS than me will be giving me a hand.

Thanks.

[2019-06-05 14:03] malan88 commented on #43
@miguelgrinberg

My strategy in this instance is (was) to write a dictionary that decomposes the function strings from data-format into a set of arguments and then translate them using an object into actual function calls *which would eliminate the ability for people to arbitrarily execute code*, but this *is* essentially what you are saying about "reimplementing eval without eval" because I'm bas

[2019-06-05 15:56] miguelgrinberg commented on #43
I believe it is currently not possible for people to arbitrarily execute code. What goes in the eval is not provided by the user, it is code that is generated by this package and it is always a call to `moment()` with varying arguments that depend on the format requested. I don't believe there is a way to make this code do anything other than that, but if you've found a vulnerability I'd like to k

[2019-06-05 18:10] malan88 commented on #43
So I actually went ahead and wrote it. It is not perfect and I think that it can be improved. I'm going to open a PR. Let's discuss it more there.

[2019-06-07 06:37] valentin-ballester commented on #25
Hello, im having kinda the same issue, i solve it resolving that initially i need to send the time difference with the closest datetime i can get from the present (the present is when the page loads, then i use refresh function), so in the route i create a:

`...
render_template(... , now=datetime.utcnow())`

and then use it with flask-moment

`moment(stored_date).fromTime(now, refresh=True)`

why

[2019-06-07 07:12] valentin-ballester commented on #25
Hello, im having the same problem. cant the flask moment from_now being considered as a bug ? because i only dicovered this problem after many testings, and it could get my users lost. for the moment i disabled the subfix and i add it manually, it solves the problem but it is kinda hacking and i lost the possibility of using the full capability of moment, if i decided in the future to add a featur

[2019-06-07 09:05] miguelgrinberg commented on #25
@valentin-ballester why do you attribute the bug to Flask-Moment? This problem is very common and affects any two systems that have clocks out of sync. If you generate a time in one of the system (server) and then pass it to the other (client) for rendering you are bound to have problems. It has nothing to do with Flask-Moment.

[2019-06-10 18:19] malan88 commented on #43
So I just wanted to note that it seems the solution to this is as follows:

Set the CSP's script-src to include both 'code.jquery.com' and 'cdnjs.cloudflare.com'. Also include "'unsafe-eval'" and set content_security_policy_nonce_in.

[code]

Then, instead of using `include_moment()` in the template, copy and paste the output of it directly into the template and make sure that the jquery snippet h

[2019-06-21 18:24] javl opened #49 "Momentjs version"
Before I started adding anything: you mentioned you want to Flask-Moment to reflect Momentjs as much as possible, without too many changes. It seems moment received some new functions in its version 2, that are not in Flask-Moment yet (like [toNow()](https://momentjs.com/docs/#/displaying/tonow/)). Would it be OK to wrappers for those functions? Seems default_moment_version is already at the right

[2019-06-21 21:38] miguelgrinberg commented on #49
Yes, adding new functions is appreciated. Thank you for spending the time on this!

[2019-06-22 17:44] javl commented on #49
I was mainly interested in adding the ```toNow()``` and ```to()``` functions, but they actually don't seem all that useful, as they're pretty much ``fromNow()`` in reverse; seems you can get the same results by swapping your dates around within the ```fromTime()``` function:
```moment().fromTime(past_timestamp)``` is the same as ```moment(past_timestamp).toNow()```

[2019-07-21 11:05] miguelgrinberg commented on #40
This is already implemented. Closing.

[2019-07-21 11:05] #40 closed

[2019-08-07 17:37] androgeninc opened #51 "Blocked by CORS policy"
When using the {{ moment.include_moment() }} in chrome i get the below error message. Any idea how i can solve it?

Importing moment through the <script src"..."></script> works fine, but then i can only use javascript-moment and not flask-moment.

`Access to script at 'http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js' from origin 'http://127.0.0.1:5000' has been b

[2019-08-07 23:29] miguelgrinberg commented on #51
I'm not sure, I can access the moment js library at the URL above just fine. Maybe it was something temporary?

[2019-08-08 15:12] androgeninc commented on #51
Still not working, but seems to be a browser issue and not a flask-moment issue, as it works fine in Firefox. Problem is only in Chrome. Understand it is not a code issue but any pointers would be appreciated.

[2019-08-08 19:33] miguelgrinberg commented on #51
I don't think it is a browser issue, my guess is that it is a cdnjs issue, but I don't see it here so it isn't something I can debug. Maybe get a copy of the request and the response include all headers and contact them by writing an issue on their github at https://github.com/cdnjs/cdnjs/issues?

[2019-08-11 18:53] androgeninc commented on #51
You seem to be right. It resolved itself magically on its own. Thanks for the reply!

[2019-08-11 18:53] #51 closed

[2019-08-24 09:18] #49 closed

[2019-08-24 09:19] #43 closed

[2019-08-24 09:26] #44 closed

[2019-10-19 03:29] antmurph commented on #35
any update on this issue? Would be a great feature to have

[2019-10-20 09:37] miguelgrinberg commented on #35
@antmurph if you'd like to have a go at it I'm happy to help. Eventually I'll get to it, but right now I don't have time unfortunately.

[2019-10-21 14:40] antmurph commented on #35
@miguelgrinberg take a look at the PR, for my uses that works perfect.

[2019-11-06 21:19] dhhagan opened #53 "Support for moment-timezone"
Does the current version argument support, or intend to support moment-timezone as well? If not, is there a known reason it wouldn't work? If not already supported and desirable, I can take a stab at it...

[2019-11-07 01:41] miguelgrinberg commented on #53
I haven't tried it, but I believe if you load the moment-timezone js manually then you will be able to use Flask-Moment to render your timezone enabled dates/times. Happy to accept changes to enable it to work if you find that it doesn't.

[2019-11-11 02:33] cunningjames opened #54 "Safari (13.0.2) doesn't seem to like sri=True"
I'm not sure whether this is properly an error in flask-moment. Apologies if this is the wrong place.

Using an extremely simple app, I can't seem to get dates to display properly in Safari (13.0.2) with flask-moment (0.9.0) unless I set sri to False in `include_moment()`. Otherwise, moment.js fails to load and no dates display. In the JavaScript console I see errors related to Access-Control-Allo

[2019-11-11 10:01] miguelgrinberg commented on #54
Safari 12 works fine, so at this point this likely applies only to those who upgraded to Catalina.

[2019-11-11 13:28] nehatharani opened #55 "Fix for out of sync in flask-moment"
Hi @miguelgrinberg,

I have followed your tutorial very closely to learn the flask, Thank you for the wonderful content.

I am having some trouble with flask-moment. Since the clocks are out of sync, moment.js has implemented a function to capture the offset and display the correct time. I have modified the moment.js accordingly. However, when I run the app it throws the error that function is not

[2019-11-11 16:21] miguelgrinberg commented on #55
I'm not sure what problem you are having, but you should keep in mind that Flask-Moment is just a friendly wrapper around moment.js that allows you to use it from Flask templates. You don't have to always use the wrapper though, if you have made customizations to moment.js then you can just access this library directly using JavaScript.

[2019-12-17 07:03] ChunYuan0930 opened #56 "How do I use format with refresh?"
I'm add `{{ moment().format('LLL', refresh = True) }}` to my template,but it can't work.
BTW,I use fromNow(no_suffix=False, refresh = True) to be successful.

[2019-12-17 10:19] miguelgrinberg commented on #56
Refresh only makes sense for relative times. When you are rendering a fixed timestamp refreshing does nothing, every refresh the same date is rendered.

[2019-12-18 07:42] ChunYuan0930 commented on #56
OK,thanks for your reply.

[2019-12-18 07:42] #56 closed

[2020-01-19 18:46] #53 closed

[2020-01-19 18:47] #55 closed

[2020-04-14 08:34] benbendemo commented on #54
Hi, i am running into the issue as exactly as @cunningjames described above!

I use macOS Mojave 10.14.5 and my Safari version is 12.1.1 (14607.2.6.1.1), i am using the same flask code same as @cunningjames does.

it could work get `moment-with-locales.min.js` successfully in Chrome but failed in Safari.

[Error] Failed to load http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-loc

[2020-04-14 08:46] benbendemo commented on #54
@cunningjames @miguelgrinberg
Good news, finally i've found out the root cause, follow [this stackoverflow post](https://stackoverflow.com/questions/4556429/disabling-same-origin-policy-in-safari) to disable "Cross-origin restrictions" would help.

[2020-05-15 16:27] evilocku opened #59 "Problem using Flask-Moment in IE11 and Edge"
Hi -

I'm learning Python Flask and I've built my first simple website. In one of the HTML templates I've included the line:
`<p>The current date and time is: {{ moment().format('MMMM Do YYYY, h:mm:ss a') }}.</p>`

My __init__.py file contains the lines:
`from flask_moment import Moment`

`moment = Moment(app)`

My base.html file contains:
`{% block scripts %}`
`{{ super() }}`
`{{ moment.include_m

[2020-05-15 17:14] miguelgrinberg commented on #59
Did you look in the browser's console for errors?

[2020-05-15 17:25] evilocku commented on #59
Yes, in IE11 the console shows:

`SCRIPT5009: 'moment' is undefined`

[2020-05-15 17:30] miguelgrinberg commented on #59
There must be some previous error to that. The application includes moment.js, which defines the `moment` variable, so something must have happened that prevented the js file to load.

[2020-05-15 17:37] evilocku commented on #59
Screenshots of the Console and Debugger attached, showing where the errors are occurring.
![Console](https://user-images.githubusercontent.com/65410573/82079667-215d7a80-96db-11ea-83af-77e1261dff84.png)
![Debugger](https://user-images.githubusercontent.com/65410573/82079682-26222e80-96db-11ea-8114-ef12bb7b21f5.png)

[2020-05-15 17:45] miguelgrinberg commented on #59
Look for errors in the network tab please.

[2020-05-15 17:51] evilocku commented on #59
![Network](https://user-images.githubusercontent.com/65410573/82080715-fd029d80-96dc-11ea-8cc0-5357aeb3fa93.png)

[2020-05-15 21:15] evilocku commented on #59
It seems that the problem with fontawesome also occurs in Firefox (and, presumably, in Chrome). Firefox console shows the following message: The resource from “https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/fontawesome-all.min.css” was blocked due to MIME type (“application/xml”) mismatch (X-Content-Type-Options: nosniff).

Firefox seems to be more 'tolerant' of this error than IE11.

[2020-05-15 21:32] miguelgrinberg commented on #59
The fontawesome thing is unrelated. The problem is that your page isn't loading moment.js.

[2020-05-15 21:42] evilocku commented on #59
Why is it working in Firefox and Chrome but not in IE11 and Edge?

[2020-05-15 21:57] miguelgrinberg commented on #59
I can't really say. All I can tell you is that the page isn't requesting moment.js, so it is logical that the extension would not work. Did you compare the HTML of your page between IE11 and Firefox/Chrome? There must be differences.

[2020-05-16 08:16] evilocku commented on #59
I've checked the page source HTML in Firefox against that in IE11, both visually and using File Compare from the Windows Command Prompt, and they seem to be identical.

The HTML is a bit messy (I guess that's partly down to the way that Bootstrap has stitched it together), but, as I said earlier, it works without any obvious problems in Firefox and Chrome.

I've attached a copy of the HTML file fo

[2020-05-16 10:48] miguelgrinberg commented on #59
The html that you sent includes moment.js from URL `https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js`. This URL is valid and works for me. However, I do not see this URL being requested in your network log. Any idea why?

[2020-05-16 15:35] evilocku commented on #59
IE11 seems to have some difficulty with that link. If I try to access it directly, I get a message: "The publisher of moment-with-locales.min.js couldn't be verified."

If I access the link directly in Firefox, the browser displays the file as text. The Firefox network log shows that it's being requested successfully (status 200) in that browser.

I tried adding https://cdnjs.cloudflare.com as a T

[2020-05-16 18:58] evilocku commented on #59
I think that I've answered my own question.

I'm going to try getting the browser language settings with window.navigator and then using those to look up the appropriate date and time formats in a table that I'll create in my app database. That way I won't have to hard code lots of different formats into a Python module.

Moment is probably too 'heavyweight' for my simple needs, so I'll drop it fr

[2020-05-16 18:58] #59 closed

[2020-06-07 16:24] e2jk opened #60 "Eval() is Evil ;) (unsafe Content-Security-Policy)"
When activating Content-Security-Policy (CSP) with `script-src` to allow for local scripts and cdnjs.cloudflare.com where the moment.js gets downloaded from by Flask-Moment, the following error gets triggered and further execution of moment.js gets blocked:

![image](https://user-images.githubusercontent.com/229379/83973913-d73a7400-a8e9-11ea-9e05-38b6e9363259.png)

This is the line in question:
h

[2020-06-07 16:31] e2jk commented on #60
I just did it again, opening an issue without noticing #43 and #45.
However, reviewing the discussion, I still think a PR (I'll see if I can help with that) would make sense, to be able to use `include_moment()` just as the library is thought to be used.
I see the past discussion mentions the fact that this specific usage of eval seems unharmful (which I agree), but the problem is that if we want

[2020-06-07 18:21] e2jk commented on #60
Looking a bit more at the code, it seems to me that this is solvable pretty easily.
Right now the code works by generating a `<span>` tag with a `data-timestamp` and a `data-format` attribute.
The `data-timestamp` is fine (and it's content can later be retrieved and passed to the `moment()` function without needing `eval()`), but the issue comes from the `data-format` attribute which contains both

[2020-06-07 20:28] e2jk commented on #43
Hi @cdruet and @malan88 (and obviously @miguelgrinberg), in case you're still interested in removing that `unsafe-eval` from your CSP, please have a look at my proposed PR #61.
Have a great day!

[2020-06-11 12:45] e2jk commented on #43
FYI @cdruet and @malan88, this has been fixed in the latest release 0.10.0, available now on PyPI. Thanks to Miguel for taking the time to fix this.

[2020-06-11 12:52] cdruet commented on #43
Still very much interested. Huge thanks to @miguelgrinberg !!!

[2020-06-11 13:29] miguelgrinberg commented on #43
@e2jk you are selling yourself short. You actually wrote this fix, I just touched a couple things and merged. Thanks should go to you!

[2020-07-30 01:12] firstian commented on #54
I think I know what the problem is. When you change sri=None, the script tag defaults to have both integrity and crossorigin attributes.

The default_moment_sri SHA in flask_moment.py is also out of sync with cloudflare. When I take out `crossorigin="anonymous"`, I get the following error:

`Cannot load script http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js. Faile

[2020-08-04 17:36] whitesnow9291 opened #62 "AttributeError: 'str' object has no attribute '"
This works
`<td>{{moment().format('MMMM Do YYYY, h:mm:ss a')}}</td>`
But this don't work
`<td>{{ moment('1/1/2020').format('L') }}</td>`
And can I ask other question?
Is result returned from executing raw sql query `db.engine.execute(sql)` and result from `User.query.all()` ?
Thanks

[2020-08-04 20:03] miguelgrinberg commented on #62
You are calling `moment()` with a string argument, not a `datetime`.

I don't understand what is the 2nd question. Do you want to know if those two ways return the same result? It's the same data, but it is returned in different format. Working with models is more convenient.

[2020-08-05 00:21] whitesnow9291 commented on #62
Originally, I passed value returned from db.engine.execute to moment.
This is what I tried actually.
In view.py

[code]

In Jinja2 template
[code]

Thanks

[2020-08-05 07:41] miguelgrinberg commented on #62
Still don't understand why you mix raw SQL with SQLAlchemy. If you want to use the model objects then you have to use the high-level queries, the SQL calls know nothing about models.

[2020-08-05 07:49] whitesnow9291 commented on #62
Ok, I understand. thanks

[2020-08-05 07:50] #62 closed

[2020-08-16 20:52] v-inmar commented on #54
This might not address what is written in the title but it might help some other people.

I was able to get around it by using my own saved moment-with-locales.min.js and adding the a new js script
such as below

`

<script src="{{ url_for('static', filename='js/moment/moment-with-locales.min.js') }}"></script>
    <script>
        moment.locale("en");
        function flask_moment_render(elem) {

[2020-09-13 17:14] greendinosaur opened #64 "Request the js files to be retrieved over https from the CDN"
When running my app locally in development, it's running under http. This means the js files referenced by Flask-Moment are retrieved over http. This is causing problems when I run some checks with the Lighthouse tool in Chrome Dev Tools. I'd like to be able to force the js references to be via https and not via http.

I propose making a change to `include_moment` with an optional variable of forc

[2020-09-13 19:21] miguelgrinberg commented on #64
I think it would be okay if we always use https:// for the js dependencies, without a setting. If you make this change and send a PR I'll merge it. Thanks!

[2020-09-14 00:49] greendinosaur commented on #64
okay, will give it a go.

[2020-09-14 08:58] #64 closed

[2020-09-14 13:52] greendinosaur commented on #64
Thanks!

[2020-10-08 22:47] bfaivre opened #66 "Looking for Converted Value Only (not wrapped in span tag)"
Is it possible to get the timestamp converted and formatted without being wrapped in a span tag? If not, do you have a recommended way to extract this? I'm looking to use it in a placeholder for an input. Thanks in advance.

[2020-10-09 08:29] miguelgrinberg commented on #66
Not from Jinja, but you can always use JavaScript to generate your placeholder content.

[2020-10-09 16:05] bfaivre commented on #66
Thanks @miguelgrinberg.

[2020-10-10 09:17] #66 closed

[2020-10-11 13:48] mkb81 commented on #54
But this only a workaround. If I connect with my iPad I have still the same problem

[2020-10-11 13:54] mkb81 commented on #54
This works for me on macOS 10.15.7 and Safari 14.0
Thank you

[2020-11-29 15:51] guillermohs9 opened #68 "Apparently the CDN is giving 404 for the moment.js version in the package"
Hi! I'm getting

    DevTools failed to load SourceMap: Could not load content for http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

on the browser console with latest Flask-Moment installed (0.10). The latest version on cdnjs for moment.js is 2.29.1.
Cheers!

[2020-11-29 18:44] miguelgrinberg commented on #68
This is a failure on the source map, not on the library itself. Also I do not understand why you get a request for the 2.26 version of moment, since the latest version of Flask-Moment uses 2.29.1. You may want to invalidate your browser cache, maybe that's the problem.

[2020-11-29 19:31] guillermohs9 commented on #68
I deleted the cache and tried incognito and I still see it. It's probably some other library  or something else I'm missing. Sorry for this issue.

[2020-12-17 02:07] 1wonjae commented on #68
It is Flask-Moment, it's just that if you install from PyPi you get the June 10 release (0.10). I did the same and see the source code having 2.26.0 as default.

[2020-12-17 18:42] miguelgrinberg commented on #68
Sorry, my bad, it appears I never released the last batch of changes. Release 0.11 is now on PyPI.

[2020-12-17 18:42] #68 closed

[2020-12-29 22:55] aualby opened #69 "Chart.js or playing nicely with others"
Is there a way to exclude Flask-Moment from templates where it clashes with other libraries that use moment.js?

[2020-12-29 23:02] miguelgrinberg commented on #69
Why would it clash? If you are loading moment.js on your own you can do this:

    {{ include_moment(no_js=True) }}

and then Flask-Moment will use the moment.js that is loaded elsewhere on the page.

[2021-04-06 11:38] #69 closed

[2021-05-16 08:36] yuxiaoy1 opened #73 "Using ES6 intead of JQuery"
I think we should use ES6 instead of JQuery in the markup for now, what do you think? and I could submit a PR for this.

[2021-05-16 10:33] miguelgrinberg commented on #73
As long as you use a safe subset of ES6 that is implemented in all major browsers I'm okay with it.

[2021-05-25 14:39] coreybrett opened #76 "can't call moment.include_moment() from within Python code"
If I call moment.include_moment() inside a Jinja template, it works fine, but if I try to call it directly from Python code, I get `AttributeError: 'Moment' object has no attribute 'include_moment'`

I am experimenting with Dominate as a possible replacement for Jinja.

[2021-05-25 21:34] miguelgrinberg commented on #76
What you are trying to do is not currently supported, this extension is designed to work with Jinja templates. You can only do this if you find the internal state of the extension:

    current_app.extensions['moment'].include_moment()

But this is not something that is supported. It can change at any time and without previous notice.

[2021-06-07 22:31] miguelgrinberg commented on #35
After some discussion in this and other issues I have decided I will not be adding add and substract, since this just perform calculations with dates and not formatting. If you need to add or substract dates, you can do it directly in Python.

[2021-06-07 22:31] #35 closed

[2021-06-07 22:32] #76 closed

[2021-06-07 22:45] miguelgrinberg commented on #54
Safari 14 does not appear to have an issue, so I'm closing.

[2021-06-07 22:45] #54 closed

[2021-06-07 22:51] miguelgrinberg commented on #25
I don't believe I'll ever have time to dedicate to this issue, which is extremely complex, so for now I'm going to close. The recommendation is that you make sure that the clocks are relatively close. If you want to make sure "in a few seconds" does not appear you can always add a few seconds to the times that you render.

[2021-06-07 22:51] #25 closed

[2021-06-07 22:52] miguelgrinberg commented on #13
This has been here for many years, so I'm going to close for now. If anybody is interested in implementing this option please open a new issue or PR.

[2021-06-07 22:52] #13 closed

[2021-06-08 23:12] miguelgrinberg commented on #73
Thanks for your help with this change!

[2021-06-08 23:12] #73 closed

[2021-06-11 12:51] schaarj opened #80 "version 1.0.0 breaks import"
After building a new image that depends on Flask-Moment I suddenly get import errors
**Installed Version:**
[code]
**Error**:
[code]
I tested upgrading Flask-Moment in other environments all with the same effect

[2021-06-11 13:23] #80 closed

[2021-06-11 13:26] miguelgrinberg commented on #80
Sorry about that. I knew I was going to mess something up with a release that has so many changes in it. :)

I put out 1.0.1 with a fix. Please let me know if that continues to give you trouble.

[2021-06-11 13:35] schaarj commented on #80
No works like a charm, Thanks for the quick fix and all your other work on flask as well :)

[2021-07-16 00:14] RobinJadoul opened #81 "High CPU load without refresh"
When refresh is left disabled, `flask_moment_render` is constantly called by the `setInterval` call.
This is due to the following sequence of events:

- At https://github.com/miguelgrinberg/Flask-Moment/blob/main/src/flask_moment/__init__.py#L171, the `data-refresh` attribute is set to `"{}".format(int(False)) == "0"`
- In the browser, the check at https://github.com/miguelgrinberg/Flask-Moment/bl

[2021-07-16 09:28] #81 closed

[2021-08-07 10:56] alxcnwy opened #82 "I keep getting errors trying to format a duration"
I'd like to format a number of seconds e.g. 150 seconds -> 00:02:30 using Flask-Moment

I think this should work:
[code]

but I get an error `jinja2.exceptions.UndefinedError: 'flask_moment._moment object' has no attribute 'startOf'`

[2021-08-07 11:54] miguelgrinberg commented on #82
There is no `startOf` or `seconds` functions in Flask-Moment. You are writing Python code here, not moment.js in JavaScript. See the documentation for the list of operations that are supported.

[2021-10-16 08:35] kingkong-cmd opened #83 "Manually reload flask_moment_render_all when new content is loaded"
I am using htmx to async load some components onto my page. The components gets loaded when in view, so it may be some time after the actual pageload. These components includes dates that I would like to render with moment. Is there any way I can re-run the flask_moment_render_all function  so that these dates are being caught as well?

[2021-10-16 09:42] miguelgrinberg commented on #83
Have you seen the documentation? Specifically this: https://flask-moment.readthedocs.io/en/latest/advanced.html#ajax-support

[2021-10-16 16:50] kingkong-cmd commented on #83
Apologies, I thought I had. I see it is even included in the example app. Thank you!

[2021-10-16 16:50] #83 closed

[2022-06-29 08:56] guidoiaquinti opened #85 "DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead"
As per [PEP 632 – Deprecate distutils module](https://peps.python.org/pep-0632/), we are using a module that is no longer supported.

[code]

[2022-07-16 15:29] #85 closed

[2022-07-17 19:36] Chuxiaof opened #86 "ModuleNotFoundError: No module named 'packaging'"
I got the following error when importing `flask_moment`

[code]

I worked around the issue by manually `pip install packaging`. I assume you forgot to specify `packaging` as a dependency? I am using `Flask-Moment==1.0.3`.

[2022-07-17 22:29] miguelgrinberg commented on #86
Packaging is a dependency of setuptools, so I assumed it would always be installed.

[2022-07-17 22:30] #86 closed

[2022-07-18 12:15] guidoiaquinti commented on #85
Thank you @miguelgrinberg !